/**
 * @name Dark Aero Discord
 * @author Daniele63
 * @description Simple Dark aero theme for Discord.
 * @version 1.0
 */

/* ---------------------------- */
/* CHANGE BACKGROUND IMAGE HERE */
/* ---------------------------- */
.messagesWrapper__36d07,
.container_c8ffbb,
.form_f75fb0,
.channelTextArea_f75fb0,
.contentRegionScroller__23e6b {
  /* Change this URL */
  background: url("https://xatimg.com/image/PvBwaGufYnD3.jpg") no-repeat center
    center fixed;
  background-size: cover;
}

/* ---------------- */
/* GLOBAL VARIABLES */
/* ---------------- */

:root {
  /* Borders that separate sections */
  --border-main-color: rgb(48, 48, 68);

  /* Backgrounds behind most sections */
  --main-accent-background: rgb(21, 21, 27);

  /* Aero gradients */
  --main-gradients: linear-gradient(
    to bottom,
    rgba(119, 119, 119, 0.925) 0%,
    rgba(97, 97, 97, 0.925) 10%,
    rgba(35, 35, 35, 0.925) 55%,
    rgba(0, 0, 0, 0.925) 56%,
    rgba(0, 0, 0, 0.925) 60%,
    rgba(32, 32, 32, 0.925) 100%
  );
}

/* ------------- */
/* TOP TITLE BAR */
/* ------------- */
.bar_c38106 {
  background-color: rgb(12, 12, 15);
}

/* ----------------- */
/* LEFT SIDE CONTENT */
/* ----------------- */

/* Servers Sidebar */
.wrapper_ef3116 {
  background-color: rgb(12, 12, 15);
  padding-top: 3px;
}

/* Channels Sidebar */
.container__2637a {
  background-color: var(--main-accent-background);
  border-right: 1px solid var(--border-main-color);
}

/* Under Channel and Servers Sidebar */
.sidebar_c48ade,
.sidebar_c48ade::after {
  background-color: var(--main-accent-background);
}
.sidebar_c48ade::after {
  border-top: 1px solid var(--border-main-color);
  padding: 31.5px;
}

/* Bottom Left Setting Bar with avatar, mic, headphone, and cogwheel button */
.container__37e49 {
  background: var(--main-gradients);
}

/* ------------------ */
/* RIGHT SIDE CONTENT */
/* ------------------ */

/* Members List Gradient */
.members_c8ffbb {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(20, 20, 20, 0.7) 20%,
    rgb(0, 0, 0) 100%
  );
}
/* Individual Members */
.container__91a9d {
  background-color: rgba(139, 139, 139, 0);
  color: rgb(206, 215, 255);
  border-radius: 3px;
  margin-bottom: 5px;
}
/* Secondary Text Color in members list */
.container__91a9d strong {
  color: rgb(112, 136, 255);
}

/* Search Results */
.searchResultsWrap_a9e706 {
  background-color: rgba(27, 27, 32, 0.8);
}

/* --------------------- */
/* CONTENT IN THE MIDDLE */
/* --------------------- */

/* Top bar with search bar etc */
.title_f75fb0 {
  background: var(--main-gradients) !important;
  border: none !important;
}
/* Gradient to remove */
.showToolbar__9293f::after {
  content: none;
}

/* Square Avatars */
.avatar_c19a55 {
  border: 2px solid rgba(85, 85, 85, 0.5);
  border-radius: 4px;
}

/* Send Message Bar */
.scrollableContainer__74017 {
  background: linear-gradient(
    180deg,
    rgba(75, 83, 102, 0.3) 0%,
    rgba(36, 41, 53, 0.7) 100%
  );
  border: 1px solid rgb(0, 0, 0);
  padding: 2px;
}

/* Profile */
.outer_c0bea0 {
  background-color: var(--main-accent-background);
}

/* ------------- */
/* SETTINGS PAGE */
/* ------------- */
/* Left Sidebar */
.sidebarRegionScroller__23e6b {
  background-color: var(--main-accent-background);
  border-right: 1px solid var(--border-main-color);
}
